/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";


/* Medium editor */ 
.medium-editor-toolbar{
	border-radius: 0;
	max-width: 450px;
	background-color: initial;
	border: none;

	li button{
		height: 35px;
		min-width: 35px;
		padding: 8px;
		background-color: #575757;
		position: relative;
		border-bottom: 1px solid #3D3C3C;

		> *{
			font-size: 12px;
		}

		i.undo:after {
			content: "\f00d";
			position: absolute;
			font-size: 12px;
			bottom: 6px;
			left: 19px;
			color: rgba(255, 255, 255, 1);
		}
		
		i.undo:before{
			color: rgba(255,255,255,0.5);
		}

	}
	.medium-editor-toolbar-actions{
		text-align:center;

		> div{
			position: relative;
			display: inline-flex;
			margin: 0 1px;
		}
	}

	.medium-editor-toolbar-form{
		a{
			font-size: 18px;			
			margin: 0 8px;
		}
	}
	
	$textSize-width: 75px;
	.textSizeBt{
		padding: 0;
	}

	.textSize{
		width: $textSize-width;
		height: 34px;
		
		input,
		button{
			border-radius: 0;
			background-color: #575757;
    		color: #fff;
    		border-color: #3D3C3C;

			&:focus{
				box-shadow: none;						
			}
		}

		button{
			border-right: none;
    		border-left: 1px solid #3D3C3C;
    		padding: 5px;

			&:focus{
				background-color: #3D3C3C;
				color: #fff;
				border-color: #3D3C3C;
			}
		}
		
		input{
			border: none;
    		border-right: 1px solid #3D3C3C;
    		font-size: 13px;
		}
	
		.dropup{
			.dropdown-toggle{
				min-width: inherit;
				border-left: none;
			}

			&.open{
				button{
					background-color: #3D3C3C;
					color: #fff;
					border-color: #3D3C3C;
				}
			}
		}

		.dropdown-menu{			
			width: 58px;
			min-width: initial;
    		left: -59px;
			bottom: 27px;
			border-radius: 0;
			padding: 5px 0 10px 0;
			z-index: -1;
			background-color: #4B4B4B;    
			border-color: #3D3C3C;

			li{
				width: 100%;
			}

			a{
				font-size: 13px;
				color: #F3F3F3;
				margin: 0;
				padding: 3px 14px;

				&:hover{
					background-color: #3D3B3B;
				}

				&:focus{
					background-color: #3D3B3B;	
				}
			}
		}
	}
}

.medium-toolbar-arrow-under:after{
	display: none;
}
/* END Medium editor */


/* Spectrum Color picker */
.sp-replacer{
	border: none; 
	background: initial;
	height: 100%;
	padding: 8px 5px;
}

.sp-dd{
	color: #131313;
}

.sp-preview{
	width: 22px;
	height: 19px;
}
/* END Spectrum Color picker */



.tooltipstered{
	background-color: red;
}